@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-container {
    @apply container mx-auto w-full mt-[90px] px-[15px];
  }
  .btn-primary {
    @apply text-[#fff] bg-primary text-base font-semibold px-[32px] py-[16px] uppercase tracking-[1.75px];
  }
  .btn-primary-rounded {
    @apply btn-primary rounded-[40px] shadow-[0px_15px_20px_rgba(0,0,0,0.2)];
  }
  .form-element {
    @apply flex flex-col gap-[10px] w-full;
  }
  .form-label {
    @apply uppercase text-[12px] tracking-[1.5px] font-semibold text-paragraph;
  }
  .form-input {
    @apply rounded-[15px] bg-[#F3F3F3] text-[14px] font-medium px-[30px] py-[15px] text-[#323232];
  }
  .burger-menu-span {
    @apply bg-[#222] block w-full h-[4px] transition-all duration-200 ease-in-out;
  }
}

p {
  margin-bottom: 1rem;
  line-height: 1.75;
  letter-spacing: 1px;
}

h1,
h2 {
  /* margin: 3rem 0 1.38rem; */
  font-family: var(--font-montserrat);
  /* font-family: 'Poppins', sans-serif; */
  /* font-weight: 400; */
  line-height: 1.3;
}

h1 {
  /* margin-top: 0; */
  font-size: 1.802rem;
  font-weight: 900;
}

h2 {
  font-size: 1.602rem;
  font-weight: 800;
}

h3 {
  font-size: 1.424rem;
  font-weight: 700;
}

h4 {
  font-size: 1.266rem;
  font-weight: 600;
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
}

small,
.text_small {
  font-size: 0.889rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.488rem;
  }

  h2 {
    font-size: 2.074rem;
  }

  h3 {
    font-size: 1.728rem;
  }

  h4 {
    font-size: 1.44rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  small,
  .text_small {
    font-size: 0.833rem;
  }
}

@media (min-width: 1024px) {
  /* html {
    font-size: 125%;
  } */
  h1 {
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  small,
  .text_small {
    font-size: 0.8rem;
  }
}
